<mat-toolbar color="primary">
  <span>Station Data Tool</span>
  <span style="flex: 1 1 auto"></span>
  <a href="https://github.com/wtoldt/station-data-tool" target="_blank">
    <button mat-icon-button>
      <mat-icon fontSet="fab" fontIcon="fa-github" class="text-white"></mat-icon>
    </button>
  </a>
</mat-toolbar>
<app-parameter-toolbar
    [selectedStation]="selectedStation" [selectedStartDate]="selectedStartDate" [selectedEndDate]="selectedEndDate"
    (selectedStationChange)="selectedStation = $event"
    (selectedStartDateChange)="selectedStartDate = $event"
    (selectedEndDateChange)="selectedEndDate = $event">
  </app-parameter-toolbar>
<div class="container-fluid">
  <mat-tab-group>
    <mat-tab label="Daily">
      <ng-template matTabContent>
        <app-daily-data-table [selectedStation]="selectedStation" [selectedStartDate]="selectedStartDate" [selectedEndDate]="selectedEndDate">
        </app-daily-data-table>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>


